/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* header */
header{
    background-image: url('../Images/top_bg.png');
    height: 100vh;
    background-size: cover;
}

.head_phone_icon{
    width: 26px;
}

/* nav */

._nav {
    padding-left: 200px;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
}

.logo-section img{
    width: 300px;
}

.nav_contact{
    width: 500px;
}

.nav_contact p{
    color: #fff;
    font-size: 25px;
}
 
.nav_contact button {
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: solid #fff 1px;
    background: rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}

.nav_contact button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


/* top container */
.top-container{
    color: #fff;
    padding-top: 10rem;
    padding-left: 10rem;
}

.top-container h1{
    width: 60%;
    font-size: 55px;
}

.top-container p{
    font-size: 25px;
    width: 32%;
}

.top-container button {
    padding: 8px;
    background-color: #07223e;
    color: #fff;
    border: solid #fff 1px;
    transition: box-shadow 0.3s;
}

.top-container button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


/* about section */
#about{
    background-color: #07223e;
    height: auto;
}

.about-content{
    padding-left: 10rem;
    margin-top: -70px;
}

.about-bg-txt{
    color: #0c2642;
    font-size: 130px;
}

.about-txt p{
    color: #fff;
}

.about-txt p{
    font-size: 16px;
    font-weight: 300;
    width: 450px;
}

.about-txt button,
.strategy-txt-container button {
    padding: 8px;
    background-color: #07223e;
    color: #fff;
    border: solid #fff 1px;
    transition: box-shadow 0.3s;
}

.about-txt button:hover,
.strategy-txt-container button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


.about-img img{
    width: 550px;
    margin-top: -30px;
}

.curved-container {
    position: absolute;
    top: 20%;
    right: -10.1%;
    overflow: hidden;
}

.curved-txt {
    width: 280px;
}

#about_bottom{
    background-image: url('../Images/about_bottom_bg.png');
    background-size: 100% 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.about_workers{
    width: 700px;
}

.about-vector-section{
    padding-top: 12rem;
    overflow-x: hidden;
}

.about-vector{
    width: 150px;
    position: absolute;
}

.vector-txt{
    color: #fff;
    font-size: 70px;
    font-family: 'Univia Pro';
    font-weight: bold;
    margin-top: 40px;
    padding-left: 20px;
}

/* focus section */
.focus-content{
    position: absolute;
    top: 8rem;
    left: 7rem;
}

.focus-txt-container{
    padding-top: 5rem;
}

.focus-bg-txt{
    font-size: 135px;
    font-family: 'Univia Pro';
    color: #f3f4f5;
}

.focus-title{
    font-size: 36px;
}

.focus-img-container img{
    width: 250px;
}

.img-with-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    margin: 10px;
}

.img-container {
    position: relative;
    display: inline-block;
}

.img-text {
    position: absolute;
    top: 12rem;
    left: 10px;
    color: white;
    width: 90%;
    padding: 0 13px;
}

.focus-img-txt-head{
    font-size: 14px;
    font-weight: 500;
}

.focus-img-txt-content{
    font-weight: 300;
    font-size: 13px;
    font-weight: 200;
}

/* strategy section */
#strategy{
    background-image: url('../Images/strategy_bg.png');
    overflow-x: hidden;
    margin-top: 25rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 40px;
}

.strategy-img-container{
    padding-left: 18rem;
    padding-top: 2rem;
}

.strategy-img-container img{
    width: 450px;
}

.strategy-txt-container{
    color: #fff;
    padding-right: 18rem;
    padding-top: 5rem;
}

.strategy-txt-container h2{
    font-family: 'Univia Pro';
    font-weight: 300;
}

.strategy-txt-container p{
    font-weight: lighter;
    font-size: 15px;
}

/* investment section */
#investment{
    padding: 8rem 0;
}

.investment-txt{
    padding-left: 15rem;
}


.investment-box {
    background-color: #fafafb;
    padding: 14px;
    border-left: #83919f solid 3px;
    border-bottom: #edeff1 solid 1px;
}

.invest-box-title {
    font-weight: bold;
    color: #07223e;
}

.invest-box-sub {
    color: #07223e;
}

.invest-box-sub {
    font-size: 14px;
    font-weight: 400;
}


.investment-dark-box {
    background-color: #07223e;
    color: #fff;
    padding: 14px;
}

.invest-box-dark-title {
    font-weight: 500;
    color: #fff;
}

.invest-box-dark-sub {
    font-size: 14px;
    font-weight: 200;
    color: #fff;
}

.investment-img img{
    width: 450px;
}

.investment-bg-txt{
    font-size: 132px;
    font-family: 'Univia Pro';
    color: #f3f4f5;
    position: absolute;
    bottom: 4rem;
    z-index: -1;
}



/* footer section */

/* contact us section */

.contact-us-parent{
    width: 100%;
}

.contact-us-section{
    background-image: url('../Images/contact-us-bg.png');
    background-size: 100% 100%;
    height: 60vh;
    background-repeat: no-repeat;
    padding-top: 7rem;
}

.contact-txt{
    color: #fff;
    padding-left: 10rem;
}

.contact-form-inner{
    padding: 0 80px;
}

.form-sect-1, .form-sect-2{
    width: 45%;
}

.form-sect-1 input{
    width: 100%;
}

.form-sect-1 button {
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: transparent;
    border: solid #fff 1px;
    transition: box-shadow 0.3s;
}

.form-sect-1 button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


.form-sect-2 input, .form-sect-2 textarea{
    width: 100%;
}

.form-sect-1 input, .form-sect-2 input{
    height: 60px;
    background-color: #1a334d;
    border: none;
    padding-left: 15px;
}

.form-sect-2 textarea{
    background-color: #1a334d;
    border: none;
    padding-left: 15px;
    padding-top: 8px;
}

.form-sect-1 input,
.form-sect-2 input,
.form-sect-2 textarea {
    color: #fff;
}

/* placeholer */
.form-sect-1 input[type="text"]::placeholder,
    .form-sect-2 input[type="text"]::placeholder,
    .form-sect-2 textarea::placeholder {
        color: #ffffff;
        opacity: 0.5;
        font-weight: 200;
    }

/* contact bottom section */
.contact-bottom-inner{
    background-image: url('../Images/contact-bottom-section.png');
    padding: 6rem 14rem;
    background-repeat: no-repeat;
}

.contact-bottom-box{
    background-color: #07223E;
    color: #fff;
    padding: 5rem 5rem;
}

.curved-txt-bottom {
    width: 250px;
    animation: rotate 13s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bottom-box-txt-section{
    width: 60%;
}

.bottom-box-txt-section p{
    font-size: 22px;
}

.position-relative {
    position: relative;
}

.up-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

.contact-bottom-box button {
    width: 160px;
    height: 50px;
    color: #fff;
    background-color: transparent;
    border: solid #fff 1px;
    transition: box-shadow 0.3s;
}

.contact-bottom-box button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}






/* footer bottom */
.footer-bottom{
    background-color: #07223e;
}

.footer-bottom img{
    width: 350px;
}

.footer-bottom-txt{
    font-size: 14px;
    font-weight: 200;
}

/* Fixed Call Button */
.call-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #07223e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.call-button-icon {
    margin-right: 5px;
}